header nav ul,
header nav ul li a,
#breadcrumbs ul,
#breadcrumbs ul li a{
	display: block;
}

header nav ul li,
#breadcrumbs ul li,
#breadcrumbs ul li span{
	float: left;
}

header nav ul li a {
	position: relative;
}

header nav ul li a,
header nav ul ul li a{
	height: 20px;
	
	/* Button styles generated http://css3button.net/ */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background: -moz-linear-gradient(
		top,
		#f2f2f2 0%,
		#f2f2f2);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#f2f2f2),
		to(#f2f2f2));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #2ea100;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);

	border-bottom: 3px solid deeppink;
	padding: 5px 0;

	font-size: 12px;

	background: #fff;

}

header nav ul li a.selected,
header nav ul li a:active {
	border-bottom: 0;
	margin-top:3px;
	-webkit-box-shadow: inset 0px 0px 3px 1px #ccc;
	box-shadow: inset 0px 0px 3px 1px #ccc;
}

header nav ul li a.selected:hover {
	background-color: #fff;
	color: #000;
}

header nav ul li a:hover,
header nav ul li a.hover{
	background: deeppink;
	border-color: #93278F;
	color: #fff;
	text-shadow: none;
}


header nav span.txt {
	position: absolute;
	top: 11px;
	left: 30px;
}

/*DROPDOWN*/
header nav ul ul {
	float:left;
	background-color: #f2f2f2;
	padding: 7px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #333;
	box-shadow: inset 0px 0px 2px 0px #333;
	border-radius: 5px;
}
header nav ul div.submenu{
	display: none;
}

header nav ul ul li {
	float: none;
	margin-top: 10px;
	position:relative;
}

header nav ul ul li a{
	width: 126px;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

header nav ul.dropdown li span:hover.text {
	text-shadow: 0 1px 0;
}

header nav ul ul li:first-child {
	margin-top: 0;
}

header nav ul li:active ul li:last-child a:active {
	top: 2px;
	padding-bottom: 8px;
}

header nav ul li:hover > div.submenu {
	display: block;
}

header nav ul div.submenu {
	position: absolute;
	top: 50px;
	padding-top: 9px;
	z-index: 10000;
}

/*DROPDOWN POINTER*/
header nav .dropdown .pointer {
	bottom: -9px;
}

header nav .dropdown.selected .pointer {
	bottom: -5px;
}

header nav .pointer {
	left: 65px ;
	border-left-width: 6px;
	border-right-width: 6px;
}

header nav ul li a:hover > .pointer {
	border-top-color: deeppink;
	bottom: -5px;
}

header nav .pointer {
	border-top-width: 6px;
	z-index: 0;
	bottom: -6px;
}

header nav ul li .pointer.hover {
	border-top-color: deeppink;
	bottom: -5px;
}

header nav span.home,
header nav span.cities,
header nav span.graphs,
header nav span.halloween,
header nav span.christmas,
#next .christmas,
#next .halloween,
h3 span.christmas,
h3 span.halloween,
#breadcrumbs span.icon {
	background: url("/application/assets/i/nav-icons.png") no-repeat;
}

header nav span.home,
header nav span.cities,
header nav span.graphs,
header nav span.halloween,
header nav span.christmas,
#next .christmas,
#next .halloween,
h3 span.christmas,
h3 span.halloween,
#breadcrumbs span.icon {
	display: block;
	height: 17px;
	width: 20px;
}

header nav span.home,
header nav span.cities,
header nav span.graphs{
	position: absolute;
	top: 6px;
	left: 4px;
}


header nav span.halloween,
header nav span.christmas,
#next .christmas,
#next .halloween,
h3 span.christmas,
h3 span.halloween {
	position: absolute;
	top: 7px;
	left: 4px;
	z-index: 1;
}

header nav span.cities,
#breadcrumbs span.cities{
	background-position: -20px 0;
}

header nav span.graphs {
	top: 7px;
}

header nav ul ul a.christmas {
	vertical-align: top;
	line-height: 25px;
}

header nav ul li:active ul li:last-child:active span {
	margin-top: 2px;
}

header nav span.graphs,
#breadcrumbs span.graphs{
	background-position: -40px 0;
}

header nav span.halloween,
#breadcrumbs span.halloween,
#next .halloween,
h3 span.halloween {
	background-position: -60px 0;
}

header nav span.christmas,
#next .christmas,
#breadcrumbs span.christmas,
h3 span.christmas {
	background-position: -80px 0;
}

#breadcrumbs {
	font-size: 14px;
	margin-bottom: 40px;
}

#breadcrumbs ul {
	background-color: #eee;
	padding: 10px 15px 10px 10px;
	float: left;
}

#breadcrumbs li {
	margin-right: 10px;
	color: #000;
}

#breadcrumbs span {
	font-size: 12px;
}

#breadcrumbs li span.separator {
	margin-top: 4px;
	margin-right: 10px;
}

#breadcrumbs li a {
	text-decoration: underline;
}

#breadcrumbs span.txt {
	margin-top: 4px;
	margin-left: 5px;
}

header .arrow,
header .arrow .tip {
	position: absolute;
}

header .arrow {
	display: none;
	background-color: deepskyblue;
	height: 46px;
	width: 10px;
	bottom: -47px;
	left: 69px;

}

header div.arrow .tip {
	left: -5px;
	bottom: -9px;
	/* http://css-tricks.com/snippets/css/css-triangle/ */
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid deepskyblue;
}