header nav ul,
header nav ul li a,
#breadcrumbs ul,
#breadcrumbs ul li a{
	display: block;
}

header nav ul li,
#breadcrumbs ul li,
#breadcrumbs ul li span{
	float: left;
}

header nav ul li a {
	position: relative;
	height: 20px;
	
	/* Button styles generated http://css3button.net/ */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
	background: -moz-linear-gradient(
		top,
		#f2f2f2 0%,
		#f2f2f2);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#f2f2f2),
		to(#f2f2f2));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #2ea100;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);

	border-bottom: 3px solid #ccc;
	padding: 5px 0;
	position: relative;

	font-size: 12px;

}

header nav ul li a.selected,
header nav ul li a:active {
	border-bottom: 0;
	margin-top:3px;
	-webkit-box-shadow: inset 0px 0px 2px 0px #333;
	box-shadow: inset 0px 0px 2px 0px #333;
}

header nav ul li a:hover {
	background: #FF00FF;
	border-color: #93278F;
	color: #fff;
	text-shadow: none;
	-webkit-transition:background-color 0.1s linear;
}


header nav span.txt {
	position: absolute;
	top: 11px;
	left: 30px;
}

header nav span.home,
header nav span.cities,
header nav span.graphs,
#breadcrumbs span.icon {
	background: url("/application/assets/i/nav-icons.png") no-repeat;
}

header nav span.home,
header nav span.cities,
header nav span.graphs,
#breadcrumbs span.icon {
	display: block;
	height: 17px;
	width: 20px;
}

header nav span.home,
header nav span.cities,
header nav span.graphs{
	position: absolute;
	top: 6px;
	left: 4px;
}

header nav span.cities,
#breadcrumbs span.cities{
	background-position: -20px 0;
}
header nav span.graphs {
	top: 7px;
}

header nav span.graphs,
#breadcrumbs span.graphs{
	background-position: -40px 0;
}

#breadcrumbs {
	font-size: 14px;
	margin-bottom: 40px;
}

#breadcrumbs ul {
	background-color: #fafafa;
	padding: 10px 15px 10px 10px;
	float: left;
}

#breadcrumbs span.txt {
	margin-top: 4px;
	margin-left: 5px;
}
