/* 
    Document   : style
    Created on : 06-Sep-2012, 15:51:15
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/
.show {
	display: block !important;
}

#wrapper {
	position: relative;
	min-height: 100%;
}

h1 {
	font-size: 60px;
}

header {
	float: left;
	padding: 20px 0 10px;
	background-color: #fafafa;
}

header h1 {
	margin-bottom: 25px;
	line-height: 30px;
	vertical-align: text-top;
}

header h2 {
	color: #333;
	font-size: 14px;
	padding-bottom: 0px;
	text-shadow: 0 1px 0 #fff;
}

#main {
	margin-top:10px;
	border-top: 3px solid #fff;
	border-radius: 5px;
}

#main.selected {
	background-color: #fafafa;
	-webkit-transition: background-color 0.3s ease-in;
}

h3 a {
	position: relative;
	text-shadow: 0 1px 0 #fff;
	display: block;
	/* Button styles generated http://css3button.net/ */
	background: -moz-linear-gradient(
		top,
		#f2f2f2 0%,
		#f2f2f2);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#f2f2f2),
		to(#f2f2f2));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 0px solid #2ea100;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	
	border-bottom: 3px solid #ccc;
	padding: 5px 0;
	position: relative;
	padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

#main h3:active {
	border-top: 3px solid white;
}

#main h3 a:hover {
	background: #ff00ff;
	border-color: #93278F;
	color: #fff;
	-webkit-transition:background-color 0.1s linear;
	text-shadow: 0 1px 0 #000;
}

#main h3:active > a,
#main h3 a:active {
	border:0;
	-webkit-box-shadow: inset 0px 0px 3px 1px #93278F;
	box-shadow: inset 0px 0px 3px 1px #93278F;
	text-shadow: none;
	color: #fcfcfc;
}

.pointer {
	position: absolute;
	bottom: -10px;
	left: 100px;
	display: block;
	
	/* http://css-tricks.com/snippets/css/css-triangle/ */
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ccc;
}

#main h3 a:hover .pointer,
#main h3:hover .pointer,
header nav ul li .pointer.hover {
	bottom: -9px;
	border-top: 10px solid #ff00ff;
}

#main h3 a:active .pointer,
#main h3:active .pointer {
	bottom: -6px;
}

#main h3:hover ~ div img,
#main .image img:hover {
	background-color: #f2f2f2;
	opacity: 0.6;
	-webkit-transition:background-color 0.2s linear;
}

#main .description {
	margin-top: 80px;
}

#main .description p {
	line-height: 1.3em;
}

#main .image {
	padding: 20px 0 10px;
	margin-top: 10px;
}

#main .image img {
	border: 1px solid #fff;
	display: block;
	border-radius: 5px;
	padding-bottom:10px;
	
	-webkit-box-shadow:  0px 0px 3px 0px #f2f2f2;
	box-shadow:  0px 0px 3px 0px #f2f2f2;
}

#footer {
	background:url(
		data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAP0lEQVQYV43M2QkAIAwEUdPB9l/ldqBEUDxyzfdjpBUi2SVzigBICBfSmQtP5MIXmdBCH/TQBSO0YYYmrCCFA8YkJ9p6Ri7kAAAAAElFTkSuQmCC
    ) repeat;
	position: relative;
	height: 150px;
	margin-top: 100px;
}