/* 
    Document   : style
    Created on : 06-Sep-2012, 15:51:15
    Author     : andrew
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

h1 {
	font-size: 60px;
}

header {
	overflow: hidden;
}

header h1 {
	margin-bottom: 25px;
	line-height: 30px;
	vertical-align: text-top;
}

header h2 {
	color: #e6e6e6;
	font-size: 14px;
	padding-bottom: 0px;
}

#main {
	margin-top:22px;
}